[status]
disabled = false
map_symbol = true

[time]
disabled = false

[python]
pyenv_version_name = false

[kubernetes]
disabled = false

[git_metrics]
disabled = false

[memory_usage]
disabled = false

[sudo]
disabled = false
